@model IEnumerable<CinamaLib1.Customer>
@{
    ViewBag.Title = "User List";
}
<hr>
<h2>Übersicht aller Nutzer</h2>

<table class="table">
    <tr>
        <th>
            Nachname
        </th>
        <th>
            Vorname
        </th>
        <th>
            StammNr.
        </th>
        <th>
            E-mail
        </th>
        <th>
            Telefon
        </th>
        <th>
            Admin
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.EmployeeNum)
            </td>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>

            <td style="vertical-align: middle">
                @if (item.IsAdmin == true)
                {<p>    X</p>}
            </td>
            <td style="vertical-align: middle">
                <a class="btn btn-sm" href="@Url.Action("Details", "Customers", new { id = item.Id })" role="button"><span class="glyphicon glyphicon-zoom-in"></span> Details</a>
                @*
                    @if ((Boolean)Session["IsAdmin"] == true)
                *@
                @*{ *@
                <a class="btn btn-sm" href="@Url.Action("Edit", "Customers", new { id = item.Id })" role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a class="btn btn-sm" href="@Url.Action("Delete", "Customers", new { id = item.Id })" role="button"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                @*} *@
            </td>

        </tr>
    }

</table>

<p>
    <a class="btn btn-default" href="@Url.Action("HomePage", "Home")" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Back to List</a>
</p>