@model IEnumerable<CinamaLib1.Movie>
@{
    ViewBag.Title = "Movie List";
}
<hr>
<h2>Übersicht aller Movie</h2>

<table class="table">
    <tr>
        <th>
            Poster
        </th>
        <th>
            Name
        </th>
        <th>
            Director
        </th>
        <th>
            Actor
        </th>
        <th>
            Type
        </th>
        <th>
            Full Price
        </th>

    </tr>

    @foreach (var item in Model)
    {
        string poster = item.Poster.ToString();
        <tr>
            <td>
                <div class="item" style="padding-right: 70px ">
                    <img class="img-thumbnail" src="@Url.Content(poster)" alt="Test5" style="width:70px" />
                </div>
            </td>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Actor)
            </td>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.MovieType)
            </td>
            <td style="vertical-align: middle; text-align:center">
                @Html.DisplayFor(modelItem => item.FullPrice)
            </td>
            <td style="vertical-align: middle">
                <a class="btn btn-sm" href="@Url.Action("Details", "Movies", new { id = item.Id })" role="button"><span class="glyphicon glyphicon-zoom-in"></span> Details</a>
                <a class="btn btn-sm" href="@Url.Action("Edit", "Movies", new { id = item.Id })" role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a class="btn btn-sm" href="@Url.Action("Delete", "Movies", new { id = item.Id })" role="button"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            </td>

        </tr>
    }

</table>
<p>
    <a class="btn btn-default" href="@Url.Action("HomePage", "Home")" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Back to List</a>
    <a class="btn btn-default" href="@Url.Action("Create", "Movies")" role="button"><span class="glyphicon glyphicon-plus"></span> Create</a>
</p>
