@model CinamaLib1.ScheduleItem

@{
    ViewBag.Title = "ScheduleItem Create";
}
<hr>

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ScheduleItem</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p>*: muss ausgefüllt werden</p>
            <p>[Format  mm/dd/yyyy hour:min]</p>
            @Html.LabelFor(model => model.Time, "Date*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MovieItemId, "Movie*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MovieItemId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MovieItemId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<p>
    <a class="btn btn-default" href="@Url.Action("Index", "ScheduleItems")" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Back to List</a>
    <a class="btn btn-default" href="@Url.Action("Index", "Movies")" role="button"><span class="glyphicon glyphicon-film"></span> Alle Movie</a>
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
